.rednose-apidoc-body .table-condensed {
	width: auto;
}

.rednose-apidoc-body .table-condensed td {
	padding: 0 10px 0 0;
    border-top: none;
}

.rednose-apidoc-body li {
	padding-bottom: 10px;
}

.rednose-apidoc-body li:last-child {
	padding-bottom: 0;
}

.rednose-apidoc-body .url {
	padding-top: 10.5px;
}

.rednose-apidoc-body .param {
	font-weight: bold;
	padding-right: 6px;
}

.rednose-apidoc-body .required {
	color: #999;
	font-style: italic;
	padding-right: 6px;
}

.rednose-apidoc-sidebar .affix {
	top: 0;
}

.rednose-apidoc-sidebar {
	padding: 0;
}

.rednose-apidoc-footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}
